* {
  font-family: Helvetica;
}

.App-logo {
  height: 7vmin;
  pointer-events: none;
  margin: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App{
  height: 100%;
  background-color:lightgray;
}